{% extends "main/base.html" %}

{% block title %}Добавить письмо — Postman{% endblock %}

{% block content %}
<h1 style="text-align: center; color: #4169e1;">
    {% if editing %}Редактировать письмо{% else %}Новое письмо{% endif %}
</h1>
<form method="post" style="max-width: 500px; margin: 0 auto;">
    {% csrf_token %}

    <!-- Поле title -->
    <div class="form-group" style="margin-bottom: 15px;">
        <label for="{{ form.title.id_for_label }}">Название письма</label><br>
        {{ form.title }}
        {% if form.title.errors %}
            <div class="error">{{ form.title.errors }}</div>
        {% endif %}
    </div>

    <!-- Поле description -->
    <div class="form-group" style="margin-bottom: 15px;">
    <label for="{{ form.content.id_for_label }}">Содержание письма</label><br>
    <textarea id="{{ form.content.id_for_label }}"
              name="{{ form.content.name }}"
              class="form-control"
              rows="10">
        {% if generated_text %}{{ generated_text }}{% else %}{{ form.content.value|default_if_none:"" }}{% endif %}
    </textarea>
    {% if form.content.errors %}
        <div class="error">{{ form.content.errors }}</div>
    {% endif %}
    </div>

    <!-- Поле vacancies -->
    <div class="form-group" style="margin-bottom: 15px;">
        <label for="{{ form.vacancies.id_for_label }}">Вакансии</label><br>
        {{ form.vacancies }}
        {% if form.vacancies.errors %}
            <div class="error">{{ form.vacancies.errors }}</div>
        {% endif %}
    </div>

    <!-- Кнопки -->
    <div class="form-actions" style="text-align: center;">
        <button type="submit" name="action" value="generate">Сгенерировать письмо</button>
        <button type="submit" name="action" value="save">Сохранить</button>
        <a href="{% url 'templates' %}" class="btn btn-cancel">Отменить</a>
    </div>
</form>


{% endblock %}