{% extends "main/base.html" %}

{% block title %}Шаблоны писем — Postman{% endblock %}

{% block content %}
<h1 class="mb-4">Письма</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for template in templates %}
    <div class="col">
        <div class="card h-100 border-primary shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-primary">{{ template.title }}</h5>
                <p class="card-text">{{ template.content|truncatewords:25 }}</p>
                <h5>Прикреплено к вакансиям:</h5>
                <ul>
                    {% for vacancy in template.vacancies.all %}
                    <li>{{ vacancy.title }}</li>
                    {% empty %}
                    <p>Пока ни к чему не прикреплен</p>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <a href="{% url 'template_detail' template.id %}" class="btn btn-sm btn-outline-primary">Открыть</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Пока нет писем.</p>
    {% endfor %}
</div>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'template_create' %}" class="btn btn-outline-primary">
        <i class="fas fa-plus"></i> Добавить письмо
    </a>
</div>
{% endblock %}